.additional-goods {
  padding: 24px 0 35px 0;

  @media (min-width: $tablet-width) {
    padding: 71px 0 76px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 0 86px 0;
  }
}

.additional-goods__title-wrapper {
  position: relative;
}

.additional-goods__title-wrapper::after {
  position: absolute;
  top: 14px;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 23px;
  }
}

.additional-goods__title {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  overflow: hidden;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    padding-left: 30px;
    max-width: 810px;
    margin: 0 auto;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 70px;

    font-size: 36px;
    line-height: 36px;
  }
}

.additional-goods__title span {
  display: inline-block;
  background-color: #ffffff;
  padding-right: 22px;
  width: min-content;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
  }
}

.additional-goods__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: start;
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 110px 0;

    gap: 80px;
    grid-template-columns: repeat(2, auto);
  }
}

.additional-goods__list {
  margin: 0 auto 34px auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 896px;
    margin-bottom: 0;
  }
}

.additional-goods__card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 18px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 27px 38px 28px 38px;

    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 15px 0 19px 0;

    border-right: none;
    border-left: none;

    gap: 40px;
    grid-template-columns: 284px 149px 97px 244px;
  }

  &--last {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-goods__subtitle {
  width: 100%;
  margin: 0;
  padding-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: auto;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.additional-goods__description {
  display: inline-block;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", "Oswald", sans-serif;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 13px;
  }

  &:nth-child(2n + 1) {
    margin-left: auto;

    @media (min-width: $tablet-width) {
      min-width: 60px;
      margin-left: 32px;

      text-align: right;
    }
  }
}

.additional-goods__button {
  width: 100%;
  margin: 15px auto 0;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 8px;

    text-align: center;
  }
}

.additional-goods__product {
  width: 280px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 632px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__description-wrapper {
    padding-top: 6px;
  }
}
