.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 40px;

  background-color: inherit;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.advantages__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: "Arial", "Oswald", sans-serif;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.advantages__food-costs {
  min-width: 190px;
  margin: 0;
  margin-left: 30px;
  padding-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding-top: 0;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-left: 0;
    padding-top: 55px;

    font-size: 20px;
  }
}

.advantages__wrapper {
  width: calc(50% - 16px);

  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: calc(25% - 16px);
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
  }
}

.advantages__wrapper-costs {
  width: 100%;
  margin-top: 18px;

  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  dd,
  dt {
    display: inline-block;
    margin: 0;

    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 64px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 0 0 auto;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    margin-top: 48px;
  }
}
