.form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &--name {
    padding-right: 13px;
    min-width: 39px;
  }

  &--weight {
    padding-right: 16px;
    min-width: 60px;
  }

  &--age {
    padding-right: 13px;
    min-width: 95px;
  }

  &--mail {
    padding-right: 11px;
  }

  &--phone {
    padding-right: 9px;
  }
}

@media (min-width: $tablet-width) {
  .form__label--mail {
    padding-right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form__label--mail {
    width: 76px;
  }
}

@media (min-width: $tablet-width) {
  .form__label--phone {
    padding-right: 11px;
  }
}

.form__line {
  width: 100px;
  height: 2px;
  display: block;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .form__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset-list {
  list-style-type: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form__fieldset-list--check {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-list--check {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    width: 1220px;
  }
}

.form__control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form__footnote {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .form__footnote {
    width: 370px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form__footnote {
    width: 682px;
    text-align: left;
  }
}

.form__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 0 13px 15px;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;
  }

  &--name {
    min-width: 228px;
  }

  &--weight {
    min-width: 204px;
  }

  &--age {
    min-width: 172px;
  }

  &--mail {
    min-width: 219px;
  }

  &--phone {
    min-width: 204px;
  }
}

@media (min-width: $tablet-width) {
  .form__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 19px;

    &--name {
      min-width: 567px;
    }

    &--weight {
      min-width: 536px;
    }

    &--age {
      min-width: 497px;
    }

    &--mail {
      min-width: 552px;
    }

    &--phone {
      min-width: 535px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__input {
    &--name {
      min-width: 506px;
    }

    &--weight {
      min-width: 475px;
    }

    &--age {
      min-width: 436px;
    }

    &--mail {
      min-width: 486px;
    }

    &--phone {
      min-width: 472px;
    }
  }
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin: 0;
  padding-bottom: 11px;

  &--border {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &--contact {
    border: none;
    padding: 26px 0 24px 0;
  }

  &--comment {
    border: none;
    padding-bottom: 23px;
  }

  &--extra {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--extra {
    padding: 0 70px 54px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--extra {
    padding: 0 110px 70px 110px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--comment {
    padding: 0 70px 70px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--comment {
    padding: 0 110px 70px 110px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--contact {
    font-size: 36px;
    line-height: 36px;
    min-width: 532px;
    padding: 70px 70px 45px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--contact {
    padding: 50px 110px 70px 110px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--border {
    border: 1px solid #e7e7e7;
    margin: 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--border {
    height: 200px;
    min-width: 568px;
    margin: 0 110px 0 0;
  }
}

.form__fieldset-item {
  padding: 0 20px 12px 20px;
}

@media (min-width: $tablet-width) {
  .form__fieldset-item {
    padding: 3px 0 13px 28px;
  }
}

.form__contact {
  padding: 0 0 35px 20px;
  width: 201px;
}

.form__fieldset-button {
  border: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form__fieldset-button {
    display: flex;
    justify-content: space-between;
  }
}

.form__comment {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px 0 15px;
  border: 1px solid #e7e7e7;
  min-width: 280px;
  min-height: 150px;
  margin: 0 20px;
}

.form__button {
  width: 280px;
  min-height: 40px;
  margin: 28px 20px 20px 20px;
}

@media (min-width: $tablet-width) {
  .form__button {
    min-width: 280px;
    min-height: 50px;
    font-size: 20px;
    margin: 0 0 70px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    min-width: 568px;
    font-size: 20px;
    margin: 0 0 82px 110px;
  }
}

@media (min-width: $tablet-width) {
  .form__control-label {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .form__contact {
    font-size: 36px;
    line-height: 36px;
    min-width: 532px;
    padding: 0 0 76px 0;
  }
}

@media (min-width: $tablet-width) {
  .form__comment {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    min-width: 630px;
    min-height: 174px;
    padding: 10px 0 0 19px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form__comment {
    min-width: 1220px;
    min-height: 174px;
    display: block;
  }
}

.form__group {
  display: flex;
  padding: 0 20px 13px 20px;
}

@media (min-width: $tablet-width) {
  .form__group {
    padding: 0 70px 20px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__group {
    padding: 0 0 20px 110px;
  }
}

@media (min-width: $tablet-width) {
  .form__group--contact {
    padding: 0 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__group--contact {
    margin-right: 78px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form__container-contacts {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
