.location__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 140px;
  padding: 25px 20px;
}

@media (min-width: $tablet-width) {
  .location__text {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
    padding: 0;
  }
}

.location__address {
  font-size: 14px;
  width: 140px;
  padding: 25px 0;
}

@media (min-width: $tablet-width) {
  .location__address {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    padding: 0;
    text-align: right;
  }
}

.location__content {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .location__content {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0 70px;
    padding-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .location__content {
    width: 1220px;
  }
}

.location__wrapper {
  min-height: 112px;
  padding-right: 20px;

  &--form-catalog {
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper--form-catalog {
    background-color: #ffffff;
  }
}

.location iframe {
  border: none;
  display: block;
}

.location__map {
  min-width: 320px;
  height: 362px;
}

@media (min-width: $desktop-width) {
  .location__map {
    height: 400px;
  }
}
