.location__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 140px;
  padding: 25px 20px;
}

@media (min-width: $tablet-width) {
  .location__text {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
    padding: 0;
  }
}

.location__address {
  font-size: 14px;
  width: 155px;
  line-height: 20px;
  padding: 25px 20px 25px 0;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .location__address {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    padding: 0;
    text-align: right;
  }
}

.location {
  position: relative;
}

.location__content {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .location__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    max-width: 628px;
    margin: 0 auto;

    &--form {
      max-width: initial;
      margin: 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .location__content {
    width: 565px;
    position: absolute;
    bottom: 96px;
    background: #ffffff;
    min-height: 200px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 110px;
  }
}

.location__wrapper {
  min-height: 112px;

  &--form-catalog {
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    min-height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper {
    height: 0;
    min-height: 0;
    padding-right: 0;
  }
}


@media (min-width: $desktop-width) {
  .location__wrapper--form-catalog {
    background-color: #ffffff;
  }
}

.location iframe {
  border: none;
  display: block;
}

.location__map {
  min-width: 320px;
  height: 362px;
}

@media (min-width: $desktop-width) {
  .location__map {
    height: 400px;
  }
}
