.mini-description {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.mini-description__key {
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 1;
  align-self: center;
  max-width: calc(100% - 30px);
  margin: -8px 0 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  background-color: #eaeaea;
  color: #444444;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 18px);
    padding: 0 8px;
    font-size: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.mini-description__title {
  margin: 0;
  padding: 15px 20px;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
