.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 570px;

  &--form-catalog {
    min-height: 65px;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .page-header--form-catalog {
    border: none;
  }
}

.page-header__logo img {
  width: 100px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 170px;
    margin-left: -23px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--desktop {
    height: 696px;
    background-image: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/background-desktop-cat.jpg"), linear-gradient(to right, #ffffff 50%, #535259 50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}
