.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  // @media (min-width: $tablet-width) {
  //   height: 950px;
  // }

  @media (min-width: $desktop-width) {
    height: 776px;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 170px;
  }
}
