.present {
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/jpg/cat-present.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-top: 60px;
  height: 290px;
  text-align: center;
  max-width: 280px;
  margin: 35px auto 0 auto;
}

@media (min-width: $tablet-width) {
  .present {
    background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/jpg/cat-present-tablet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 708px;
    margin: 70px auto 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/jpg/cat-present-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 288px;
    display: block;
    width: 245px;
    padding: 55px 0 0 0;
    align-self: flex-end;
    margin: 0;
  }
}

.present__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  padding: 50px 59px 43px 70px;
}

@media (min-width: $tablet-width) {
  .present__text {
    padding: 70px 0;
    width: 161px;
    margin: 0 124px;
    text-align: left;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .present__text {
    margin: 0 40px;
    text-align: center;
    padding: 46px 0;
  }
}

@media (min-width: $tablet-width) {
  .present__rectangle {
    padding: 0;
    margin: 57px 77px;
  }
}

@media (min-width: $tablet-width) {
  .present__image {
    width: 80px;
    height: 83px;
  }
}
