.product__card-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #444444;

  &--exactly {
    text-align: right;
  }

  &--last {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .product__card-description {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-top: 7px;
    text-align: left;

    &--exactly {
      text-align: right;
    }

    &--last {
      text-align: center;
    }
  }
}

@media (min-width: $tablet-width) {
  .product__card-description--last {
    width: 167px;
    margin-left: 79px;
    margin-bottom: 87px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .product__card-description--last {
    margin-left: 39px;
  }
}

.product__card-link {
  text-decoration: none;
  display: inline-block;
}

.product__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .product__list {
    display: grid;
    grid-template-columns: 384px 384px;
    max-width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .product__list {
    display: grid;
    grid-template-columns: 325px 325px 325px 395px;
    max-width: 1220px;
  }
}

.product__title {
  margin: 0;
  padding: 27px 0 40px 20px;
}

@media (min-width: $tablet-width) {
  .product__title {
    padding: 65px 0 80px 0;
    max-width: 708px;
    margin: 0 auto;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    padding: 65px 0 80px 0;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.product__card-button {
  min-width: 280px;
  max-width: 767px;
  min-height: 40px;
  text-align: center;
  padding-top: 8px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .product__card-button {
    width: 248px;
    min-height: 40px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .product__card-button {
    width: 168px;
    min-width: 168px;
    min-height: 40px;
    text-align: center;
    padding-top: 8px;
    margin: 0 39px 40px 39px;
  }
}

.product__card-title {
  width: 76px;
  margin-bottom: 18px;

  &--show-more {
    min-width: 280px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 23px;
  }
}

@media (min-width: $tablet-width) {
  .product__card-title {
    font-size: 20px;
    line-height: 24px;
    min-width: 130px;
    margin-bottom: 14px;
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .product__card-title {
    margin-bottom: 20px;
    margin-top: 46px;
  }
}

@media (min-width: $tablet-width) {
  .product__card-title--show-more {
    min-width: 134px;
    margin-top: 0;
    padding-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .product__card-title--show-more {
    min-width: 134px;
    padding-top: 43px;
    margin-top: 0;
  }
}

.product__card {
  border-top: 1px solid #ebebeb;
  padding: 20px 0 25px 0;

  &--last {
    border-bottom: 1px solid #ebebeb;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .product__card {
    border: none;
    margin: 0 0 68px 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 12%, #f2f2f2 12%);
    width: 324px;
    min-height: 430px;

    &--last {
      background: #ffffff;
      border: 2px solid #f2f2f2;
      margin-top: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product__card {
    width: 245px;

    &--last {
      min-height: 430px;
      height: 430px;
      margin-top: 60px;
    }
  }
}

.product__card-svg {
  width: 60px;
  height: 60px;
  margin-top: 52px;
}

.product__card-wrapper {
  display: flex;
  padding-bottom: 10px;
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product__card-wrapper {
    display: block;
    padding-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .product__card-wrapper {
    padding-bottom: 33px;
  }
}

.product__card-container {
  min-width: 142px;
}

.product__card-table {
  min-width: 142px;
}

@media (min-width: $tablet-width) {
  .product__card-table {
    min-width: 252px;
    border-collapse: collapse;
    margin: 0 auto;

    tr {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

@media (min-width: $desktop-width) {
  .product__card-table {
    min-width: 168px;
    margin-left: 40px;
  }
}
