.product__card-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.product__card-link {
  text-decoration: none;
}

.product__list {
  list-style-type: none;
}
