.program {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 83px 110px 26px;
  }
}

.program__list {
  display: grid;

  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.program__item {
  padding: 20px 20px 18px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 79px 315px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 79px 52px 57px;
  }
}

.program__item--slim {
  background-image: url("../img/cat-weight-loss.svg");
  background-repeat: no-repeat;
  background-position: 21px 21px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: top 81px right 63px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-position: 52px 42px;
    background-size: 100px 106px;
  }
}

.program__item--pro {
  background-image: url("../img/cat-weight-gain.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: top 91px right 30px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 33px 47px;
    background-size: 134px 100px;
  }
}

.program__title {
  margin: 0;
  padding: 11px 20px 14px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.program__link {
  display: inline-block;
  margin-top: 7px;
  padding-right: 52px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: top right 13px;
  background-size: 24px 12px;

  @media (min-width: $tablet-width) {
    padding-right: 61px;

    font-size: 20px;
    line-height: 30px;

    background-position: top 8px right 13px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-position: top right 5px;
    background-size: 32px 12px;

    @media (min-width: $tablet-width) {
      background-position: top 8px right 5px;
    }
  }
}

.program__description {
  padding-bottom: 22px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Oswald", sans-serif;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding-bottom: 29px;

    font-size: 16px;
    line-height: 24px;
    color: #000000;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    margin-top: 72px;
    padding-bottom: 4px;
  }
}
