.promo__descript {
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/jpg/background-cat.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 302px;
  text-align: center;
}

.promo {
  position: relative;
}

@media (min-width: $tablet-width) {
  .promo__descript {
    background: none;
    max-width: 925px;
    margin: 0 auto;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 27px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .promo__title {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    margin-left: 190px;
  }
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 25px;
}

@media (min-width: $tablet-width) {
  .promo__intro {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-left: 120px;
    text-align: left;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .promo__intro {
    margin-left: 190px;
  }
}

.promo__button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  min-width: 280px;
  text-align: center;
  min-height: 40px;
  padding-top: 10px;
  position: absolute;
  bottom: -40px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .promo__button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 17px;
    top: 257px;
    left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .promo__button {
    position: initial;
    margin: 52px 133px 0 auto;
  }
}

.promo__img {
  max-width: 280px;
  height: 270px;
  margin: -136px auto 0 auto;
}

@media (min-width: $tablet-width) {
  .promo__img {
    max-width: 710px;
    height: 610px;
    background-size: cover;
    margin: -75px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__img {
    max-width: 552px;
    height: 500px;
    background-size: cover;
    margin: 9px 24% 0 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
