.promo {
  position: relative;

  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.promo__descript {
  min-height: 302px;
  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;

  background-image: linear-gradient(#68b738d9, #68b738d9),
    url("../img/background-cat.jpg"),
    linear-gradient(#454349 50%, #454349 50%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover, contain, cover;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-left: 119px;

    text-align: left;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 93px;
    padding-left: 190px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 414px;

    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.promo__intro {
  margin: 0;
  padding-top: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 40px;

    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 100%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    left: auto;

    width: 245px;
    margin: 47px 0 0;
    padding: 18px 18px 16px;

    transform: none;
  }
}

.promo__img {
  max-width: 280px;
  height: 270px;
  margin: -136px auto 0 auto;

  @media (min-width: $tablet-width) {
    max-width: none;
    height: 608px;
    margin: -102px 0 0 0;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 552px;
    height: 500px;
    margin: 0 0 0 -46px;
    padding: 8px 0 0;
  }
}

.promo__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
}
