.site-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 36px;
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    min-width: 785px;
    padding-left: 25%;
  }
}

.site-list__item {
  padding: 17px 22px 18px;

  text-align: center;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }
}

.site-list__link {
  display: inline-block;

  font-weight: 500;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;

    border-bottom: 2px solid transparent;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list--home .site-list__link {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    padding-bottom: 6px;

    border-bottom: 2px solid #68b738;
  }
}

.site-list--home .site-list__link--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
