.site-list__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.site-list__link--active {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--active {
    border-bottom: 2px solid #68b738;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
  }
}

.site-list__link--active-catalog {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--active-catalog {
    border-bottom: 2px solid #68b738;
    padding-bottom: 6px;
  }
}

.site-list__link--form-not-active {
  cursor: pointer;
}

.site-list__link--active-form {
  cursor: inherit;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--active-form {
    border-bottom: 2px solid #68b738;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--form {
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--catalog {
    color: #000000;
  }
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    min-width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    min-width: 785px;
    padding-left: 25%;
  }
}

.site-list__item {
  text-align: center;
  padding: 22px;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;
  }
}

.site-list a {
  position: relative;
  display: block;
}
