.slider__list {
  display: flex;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .slider__list {
    display: flex;
  }
}

.slider__control {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .slider__control {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    background-color: #eaeaea;
  }
}
